<header class="sticky" [ngClass]="class">
    <div class="mobile-fix-option"></div>
    <div class="container_top">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xl-3 col-md-3">
                    <div class="main-menu">
                        <div class="menu-left">
                            <div class="brand-logo">
                                <a routerLink="/shop/tienda" id="headerlogo">
                                    <img src="/assets/images/logo.png" width="50" class="img-fluid" alt="logo">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6 col-md-6">
                    <div class="search">
                        <input type="text" autocomplete="off" value="carrito">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container_bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li>Categoria 1</li>
                        <li>Categoria 2</li>
                        <li>Categoria 3</li>
                        <li>Categoria 4</li>
                        <li>Categoria 5</li>
                        <li>Categoria 6</li>
                        <li>Categoria 7</li>
                        <li>Categoria 8</li>
                        <li>Categoria 9</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</header>